/* Shared styles for all pages */
body {
    font-family: 'Inter', sans-serif;
    background-color: #080604;
}

h1 {
    font-family: 'La Belle Aurore', cursive !important;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerpiece {
    display: block;
    margin: auto;
    width: 50%;
}
